@charset "utf-8";
@use "../../foundation/mixin" as *;

.u-lineBreak::before {
    content: "\A";
    white-space: pre;
}

.u-lineBreak--xl::before {
    @include media(xl) {
        content: "\A";
        white-space: pre;
    }
}