@charset "utf-8";

.c-desc__list {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.1rem;
    max-width: 400px;
    text-align: left;

    &--term {
        width: 20%;
        line-height: 1.8;
    }

    &--data {
        width: 80%;
        line-height: 1.8;
    }
}