@charset "utf-8";
@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

.c-title__wrapper {
    text-align: center;

    &--item {
        display: inline-block;
        font-size: 2.6rem;
        font-weight: bold;
        position: relative;

        @include media(sm) {
            font-size: 1.8rem;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            width: 32px;
            height: 4px;
            background-color: $base-color-primary;
            position: absolute;
        }

        &::before {
            left: -28%;
            top: 50%;
            transform: translateY(-50%);
        }

        &::after {
            right: -28%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}