@charset "utf-8";

.l-keyVisual {
    width: 100%;
    height: 100vh;
    background-image: url(../img/mainVisual3.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
}